# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and test the python package
on:
  push:
    branches:
      - 'releases/**'
jobs: 
  build:
    name: Build whl from source
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install pypa/build
      run: >-
        python -m
        pip install
        build wheel
        --user

    - name: Build a binary wheel and a source tarball
      run: |
        echo `pwd`
        echo `git log|head -n 50`
        python setup.py -q sdist bdist_wheel --universal

    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist-pip-whl
        path: |
          dist

  test-the-wheel:
    name: Install whl and run demo
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      id: github_context_step
      run: echo '${{ toJSON(github) }}'

    - name: Download the whl
      uses: actions/download-artifact@v3
      with:
        name: dist-pip-whl
      
    - name: Install tensorboardX from whl
      run: pip install tensorboardX*.whl

    - name: Install torch torchvision for demo
      run: pip install torch torchvision

    - name: Run examples
      run: python -c "import tensorboardX; print(tensorboardX.__version__)"

    - name: Run examples
      run: |
        cd examples
        python demo.py

    - name: Archive demo artifacts
      uses: actions/upload-artifact@v3
      with:
        name: demo-results
        path: |
          examples/runs

  upload-to-pypi:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Upload to pypi if tagged with version
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      id: github_context_step
      run: echo '${{ toJSON(github) }}'

        #  upload:
        #    if: startsWith('github.ref', 'refs/tags/v')
        #    name: Publish a Python distribution to PyPI test site
        #    runs-on: ubuntu-latest
        #    steps:
        #    - uses: actions/checkout@v2
        #    - name: Set up Python 3.9
        #      uses: actions/setup-python@v2
        #      with:
        #        python-version: 3.9
        #
        #    - name: Install pypa/build
        #      run: >-
        #        python -m
        #        pip install
        #        build wheel
        #        --user
        #
        #    - name: Build a binary wheel and a source tarball
        #      run: |
        #        echo `pwd`
        #        python setup.py -q sdist bdist_wheel --universal
        #
        #    - name: Publish to Test PyPI
        #      uses: pypa/gh-action-pypi-publish@release/v1
        #      with:
        #        password: ${{ secrets.PYPI_API_TESTSITE }}
        #        repository_url: https://test.pypi.org/legacy/


        #    - name: Publish to Test PyPI
        #      uses: pypa/gh-action-pypi-publish@release/v1
        #      with:
        #        password: ${{ secrets.PYPI_API_TESTSITE }}
        #        repository_url: https://test.pypi.org/legacy/
        #
